@page
@model MarketPlace.Pages.Products.CreateCategoryModel

@{
    ViewData["Title"] = "Create Category";
}

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary pl-4">Add new Category</h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
            <label asp-for="CategoryName" class="control-label"></label>
            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px;">Add Category</button>
	</div>
</form>
